html, body {
  padding: 0;
  margin: 0;
  width: 100%;
}
body {
  font-family: 'Special Elite', cursive;  
  font-size: 1rem;
}

main {
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
}

.monkey-img {
  max-width: 90%;
  border: inset 1rem;
}

.line-count {
  margin: .5rem;
  border: solid 1px black;
}

.generate-button {
  background: #010101;
  color: white;
  border: outset 5px;
  margin-bottom: .5rem;
  padding: .5rem;
  font-family: inherit;
}
.generate-button:active {
  border: inset 5px;
}

.poem {
  padding: 2rem;
  line-height: 1.5;
  background: url(http://api.thumbr.it/whitenoise-361x370.png?background=ffffffff&noise=b5b5b5&density=15&opacity=15);
  font-size: 1rem;
  margin: 0 auto;
  box-shadow: 1px 2px 5px 1px lightgrey;
  text-align: left;
  white-space: pre-wrap;
}